.mysql-dashboard .system-status-general-info__items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  @media screen and (min-width: 64em) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.mysql-dashboard .system-status-general-info__items .system-status-general-info__item {
  width: auto;
}

.mysql-dashboard .system-status-general-info__items .system-status-general-info__item table {
  width: 100%;
}

.mysql-dashboard .system-status-general-info__items .system-status-general-info__item table td {
  height: 2rem;
}

.mysql-dashboard .system-status-general-info__items .system-status-general-info__item:last-of-type {
  margin-inline-start: 0;
}
