<div class="system-status-general-info mysql-dashboard">
  <div class="system-status-general-info__items">
    <div class="system-status-general-info__item card">
      <span class="system-status-general-info__item-icon system-status-general-info__item-icon--database"></span>
      <div class="system-status-general-info__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'Database Size (GB)'|t }}</h3>
      </div>
      <div class="system-status-general-info__item-details">
        {% for database, size in data.database_size%}
          <p>{{ database }} : {{ size | number_format(2, ',', ' ')}} GB</p>
        {% endfor %}
      </div>
    </div>
    <div class="system-status-general-info__item card">
      <span class="system-status-general-info__item-icon system-status-general-info__item-icon--database"></span>
      <div class="system-status-general-info__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'Tables size (MB)'|t }}</h3>
      </div>
      <div class="system-status-general-info__item-details">
        <table>
          <thead>
          <tr>
            <th>Table</th><th>Size</th>
          </tr>
          </thead>
          {% for table, size in data.tables_sizes%}

            <tr>
              <td>{{ table }}</td><td> {{ size | number_format(2, ',', ' ')}}&nbsp;MB</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="system-status-general-info__item card">
      <span class="system-status-general-info__item-icon system-status-general-info__item-icon--database"></span>
      <div class="system-status-general-info__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'Tables rows'|t }}</h3>
      </div>
      <div class="system-status-general-info__item-details">
        <table>
          <thead>
          <tr>
            <th>Table</th><th>Size</th>
          </tr>
          </thead>
          {% for table, rows in data.tables_rows%}

            <tr>
              <td>{{ table }}</td><td> {{ rows | number_format(0, ',', ' ') }}&nbsp;rows</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="system-status-general-info__item card">
      <span class="system-status-general-info__item-icon system-status-general-info__item-icon--database"></span>
      <div class="system-status-general-info__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'Cache tables size (MB)'|t }}</h3>
      </div>
      <div class="system-status-general-info__item-details">
        <table>
          <thead>
          <tr>
            <th>Table</th><th>Size</th>
          </tr>
          </thead>
          {% for table, size in data.tables_cache_sizes%}

            <tr>
              <td>{{ table }}</td><td> {{ size | number_format(2, ',', ' ')}}&nbsp;MB</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="system-status-general-info__item card">
      <span class="system-status-general-info__item-icon system-status-general-info__item-icon--database"></span>
      <div class="system-status-general-info__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'Cache tables rows'|t }}</h3>
      </div>
      <div class="system-status-general-info__item-details">
        <table>
          <thead>
          <tr>
            <th>Table</th><th>Size</th>
          </tr>
          </thead>
          {% for table, rows in data.tables_cache_rows%}

            <tr>
              <td>{{ table }}</td><td>{{ rows | number_format(0, ',', ' ') }}&nbsp;rows</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
